<div class="matero-col" fxFlex.gt-sm="100" fxFlex="100">
  <mat-card>
    <mat-card-subtitle>Прогрес</mat-card-subtitle>
    <mat-card-content>
      <div style="text-align:center">
        <apx-chart
          #chartObj
          [series]="ChartOptions.series"
          [chart]="ChartOptions.chart"
          [xaxis]="ChartOptions.xaxis"
          [theme]="ChartOptions.theme"
          [legend]="ChartOptions.legend"
          [dataLabels]="ChartOptions.dataLabels"
          [stroke]="ChartOptions.stroke"
          [grid]="ChartOptions.grid"
        ></apx-chart>
      </div>
    </mat-card-content>
  </mat-card>
</div>
