<mat-card>
  <mat-card-title>Параметри розробника</mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br />
    <div class="container-fluid">
      <h3 class="f-w-400">Тема</h3>
      <div class="m-l-8">
        <mat-radio-group [(ngModel)]="options.theme" (change)="sendOptions()">
          <mat-radio-button disabled class="m-r-8" [value]="'light'"
            >Світла [Не стабільна]</mat-radio-button
          >
          <mat-radio-button disabled class="m-r-8" [value]="'dark'">Темна</mat-radio-button>
        </mat-radio-group>
      </div>

      <h3 class="f-w-400">DEBUG MODE (F12 default)</h3>
      <div class="m-l-8">
        <mat-radio-group [(ngModel)]="options.debugMode" (change)="sendOptions()">
          <mat-radio-button disabled class="m-r-8" [value]="true">ENABLE</mat-radio-button>
          <mat-radio-button disabled class="m-r-8" [value]="false">DISABLE</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card-content>
</mat-card>
